$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

fieldset {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0;
}

li {
  list-style-type: none;
}

.row {
  display: flex;
}

.content {
  $self: &;
  padding: 10px 20px;
  background-color: red;
  margin: 10px 10px 0;
  width: 350px;

  &.clinic {
    background-color: aquamarine;
  }

  &.bank {
    background-color: salmon;
  }
}

#account, #card, #loan {
  width: min-content;
  background-color: sandybrown;
  padding: 30px 20px;
  margin: 10px 0;
  width: auto;
}

#account-container, #card-container, #loan-container {
  width: min-content;
  background-color: sandybrown;
  padding: 5px 5px;
  margin: 10px 0;
  width: auto;
}

.product {
  background-color: violet;
  margin: 5px 0;
  padding: 5px 0;
}

ul {
  padding-inline-start: 0px;
}