$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

#clinic-container {
  background-color: aquamarine;
  padding: 50px 20px;
}

#bank-container {
  background-color: salmon;
  padding: 50px 20px;
}